.popup__name {
  font-size: 14px;
  line-height: 17px;
  margin: 54px 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 880px) {
  .popup__name {
    margin: 75px 0 30px;
  }
}
