.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__name {
    font-size: calc(15px + (42 + 42 * 0.7) * ((100vw - 320px) / 880));
    line-height: calc(17px + (48 + 48 * 0.7) * ((100vw - 320px) / 880));
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    max-width: 190px;
    font-size: 27px;
    line-height: 33px;
  }
}
